@import './styles/animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Font Family Utilities */
.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-opensans {
  font-family: 'Open Sans', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

/* Text Shadow Utilities */
.text-shadow-glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
               0 0 20px rgba(255, 255, 255, 0.8),
               0 0 30px rgba(255, 255, 255, 0.8);
}

.text-shadow-neon {
  text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 20px #ff00de,
               0 0 30px #ff00de,
               0 0 40px #ff00de;
}